#formMain, #app { height: 100%; }

.hidden { display: none !important; }

.size-14 { font-size: 14px !important; }
.size-18 { font-size: 18px !important; }
.size-22 { font-size: 22px !important; }
.size-25 { font-size: 25px !important; }
.size-29 { font-size: 29px !important; }
.size-42 { font-size: 42px !important; }
.size-50 { font-size: 50px !important; }
.size-small { font-size: 0.8em !important; }

.margin-top-quarter { margin-top: calc(var(--f7-typography-margin) / 4) !important; }
.margin-bottom-quarter { margin-bottom: calc(var(--f7-typography-margin) / 4) !important; }
.margin-top-none { margin-top: 0 !important; }
.margin-bottom-none { margin-bottom: 0 !important; }

.bg-color-none { background: none !important; }
.box-shadow-none { box-shadow: none !important; }